@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff')
    format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff')
    format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff')
    format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family);
    color: var(--color-light-text-primary);
    background-color: var(--color-light-bg-primary);
    padding: var(--gap-3xl) var(--gap-m) 0;

    @media screen and (min-width: 600px) {
        padding: var(--gap-5xl) var(--gap-l) 0;
    }
}

#root {
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.wrapper {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin-bottom: var(--gap-m);
}

@media screen and (min-width: 600px) {
    .title {
        margin-bottom: var(--gap-xl);
    }
}

.style {
    margin-bottom: var(--gap-xl);
}

.platform {
    flex-basis: 30%;
}

.hint,
.error {
    display: block;
    margin-top: var(--gap-2xl);
    text-align: center;
}

.filters {
    display: flex;
    gap: 16px;
    margin-bottom: var(--gap-m);
}

.types {
    min-width: 200px;
}

.platforms {
    min-width: 320px;
}
