@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff')
    format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff')
    format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff2')
    format('woff2'),
    url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff')
    format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family);
    color: var(--color-light-text-primary);
    background-color: var(--color-light-bg-primary);
    padding: var(--gap-3xl) var(--gap-m) 0;

    @media screen and (min-width: 600px) {
        padding: var(--gap-5xl) var(--gap-l) 0;
    }
}

#root {
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.wrapper {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin-bottom: var(--gap-m);
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.style {
    flex-basis: 70%;
}

.platform {
    flex-basis: 30%;
}

.hint {
    display: block;
    margin-top: var(--gap-s);
}

.result {
    position: relative;
    margin-top: var(--gap-xs);
    display: flex;
    padding: 22px 68px 22px var(--gap-l);
    align-items: center;
    gap: 12px;
    border-radius: var(--border-radius-xl);
    color: #d13340;
    border: 1px solid var(--color-light-border-primary);
}

.copy.copy {
    position: absolute;
    top: 8px;
    right: 8px;
}
