name: PUBLISH
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: write

concurrency:
  group: "publish"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - run: npm install -g npm@latest

      - name: Publish
        run: npm run ci

      - name: Dispatch build icons
        run: curl -X POST -u '${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}' -H 'Accept:\ application/vnd.github.everest-preview+json' -H 'Content-Type:\ application/json' https://api.github.com/repos/core-ds/icons/dispatches --data '{"event_type":"build_application"}'

      - name: Push version & tags
        run: git push --follow-tags origin master